<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
	    <div class="panel panel-default">
	      <div class="panel-heading">
	        <div class="text-center">
	        	<span style="font-size:18px;">お気に入りチーム一覧</span>
	        </div>
	      </div>
	      <div class="panel-body">
	      	<% @teams.each do |team| %>
		        <div class="col-xs-6 col-md-4">
		          <div class="panel panel-default center-block">
		            <%= link_to user_team_path(team) do %>
		              <%= attachment_image_tag team, :profile_image, :fill,380, 200, format: 'jpeg', fallback: "/images/rio.jpg", class: "img-responsive" %>
		              <div class="panel-body">
		                <h6><%= team.sport.name %></h6>
		                <h5><%= team.name %></h5>
		                <h6><span class="glyphicon glyphicon-map-marker"></span><%= team.address %></h6>
		              </div>
		            <% end %>
		          </div>
		        </div>
		      <% end %>
	      </div>
	    </div>
	  </div>
	 </div>
</div>