
<div class="container">
  <div class="row">
    <div class="col-xs-12 messages">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= @other.name %>さんへのメッセージ
        </div>
        <div class="panel-body">
          <%= form_for [@conversation, @conversation.messages.new], url: user_conversation_messages_path, remote: true do |f| %>
            <div class="form-group">
              <%= f.text_area :body, class: "form-control" %>
              <%= f.hidden_field :user_id, value: current_user.id %>
            </div>
            <div class="actions">
              <%= f.submit "メッセージを送信", class: "btn btn-danger pull-right" %>
            </div>
          <% end %>
        </div>
      </div>
      
      
      <% @messages.each do |message| %>
        <% if message.user == current_user %>
        <div class="row">
          <div class="col-xs-9">
            <div class="popover left show" style="position:relative; max-width:100%;">
              <div class="arrow"></div>
              <div class="popover-content">
                <span style="font-size: 12px;"><%= message.body %></span>
                <p style="font-size: 12px;" class="text-right"><%= message.message_time %></p>
              </div>
            </div>
          </div>
          <div class="col-xs-3 speaker margin-top-40">
            <%= message.user.name %>
          </div>
        </div>
        <% else%>
        <div class="row">
          <div class="col-xs-3 speaker margin-top-40 text-right">
            <%= message.user.name %>
          </div>
          <div class="col-xs-9">
            <div class="popover right show" style="position:relative; max-width:100%;">
              <div class="arrow"></div>
              <div class="popover-content">
                <span style="font-size: 12px;"><%= message.body %></span>
                <p style="font-size: 12px;" class="text-right"><%= message.message_time %></p>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
      
    </div>
  </div>
</div>
              