<div class="container"> 
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="text-center">
          <span style="font-size:18px;">練習予定</span>
        </div>
      </div>
      <ul class="ul-unstyled">
      	<% if !@practices.blank? %>
	        <% @practices.each do |practice| %>
	          <li class="panel-body">
	            <div class="row">
	            	<div class="col-xs-2">
	            		<h6>
	            			<%= practice.start_time.to_s(:default_year)%>
	            		</h6>
	            		<h4>
	            			<%= practice.start_time.to_s(:default_date)%>
	            		</h4>
	            		<h6>
	            			<%= practice.start_time.to_s(:default_time)%>~
	            		</h6>
	            	</div>

	              <div class="col-xs-6">
	              	<div class="row">
		              	<div class="col-xs-4">
		              	  <%= attachment_image_tag practice.team, :profile_image, :fill, 280, 280, format: 'jpeg', fallback: "/images/rio.jpg", class: "img-responsive" %>
		              	</div>
		              	<div class="col-xs-8">
		              		<h5>
		              			<%= link_to practice.team.name, user_team_path(practice.team), :style => "color:teal;" %>
		              		</h5>
		              	</div>
		              </div>
		              <div class="row">
		              	<div class="col-xs-12">
	                		<strong><%= practice.title %></strong>
	                	</div>
	              	</div>
	              		
		               <h5><span class="glyphicon glyphicon-map-marker"></span><%= practice.location %></h5>
	                
	              </div>
	              <div class="col-xs-4">
	                <h5>
	                	<%= link_to "参加者", user_team_practice_participants_path(team_id: practice.team_id,practice_id: practice.id), :style => "color:teal;" %>: <%= @participants_number %> / <%= practice.limited_participants %> 人
	                </h5>
		                <%= link_to "キャンセル", user_team_practice_participants_path(team_id: practice.team.id, practice_id: practice.id), method: 'post', class: "btn btn-success" %>
	            	</div>
	            </div>
	          </li>
	        <% end %>
	      <% else %>
	       	<div class="panel-body">
	       		<h4>参加予定の練習はありません</h4>
	       	</div>
	      <% end %>
      </ul>
    </div>
  </div>
</div>