<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header row">
        <a class="navbar-brand" href="/">nakama</a>
        <div class="navbar-left col-xs-6 col-md-6">

<%
=begin
%>
          <%= form_for @search_form, as: 'search', url: user_search_path, method: :get do |f| %>
            <%= f.text_field :address, placeholder: "住所を入力して近くのチームを探す", class: "form-control",id:"top-search-form" %>
            <%= f.hidden_field :lat %>
            <%= f.hidden_field :lng %>
            <%= f.collection_select(:sport_id, Sport.all, :id, :name, include_blank: true)%>
          <% end %>
<%
=end
%> 


          <%= form_tag user_search_path, method: :get do %>
            <%= text_field_tag :search, params[:search], placeholder: "住所を入力して近くのチームを探す", class: "form-control",id:"top-search-form" %>
            <%= hidden_field_tag :lat %>
            <%= hidden_field_tag :lng %>
            <%= select_tag :sport_id,options_from_collection_for_select(@sports, :id, :name) %>
          <% end %>


        </div>

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">
            <% if (!user_signed_in?) %>
              <!-- ログインしていない時 -->
              <li><%= link_to "アカウント作成", new_user_registration_path %></li>
              <li><%= link_to "ログイン", new_user_session_path %></li>
            <% else %>
              <!-- ログインしている時 -->
              <li><%= link_to "参加予定の練習", user_participants_path %></li>
              <li>メッセージ</li>
              <li>通知</li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  チーム
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "チームを管理する", user_manages_path %></li>
                  <li><%= link_to "チームを作る", new_user_team_path %></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <%= current_user.name %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "アカウント編集", edit_user_registration_path %></li>
                  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

<script>
function init() {

  var input = /** @type {!HTMLInputElement} */(
      document.getElementById('top-search-form'));

  var autocomplete = new google.maps.places.Autocomplete(input);
  
  autocomplete.addListener('place_changed', function() {

    var place = autocomplete.getPlace();
    var lat = place.geometry.location.lat();
    var lng = place.geometry.location.lng();

    document.getElementById('lat').value = lat ;
    document.getElementById('lng').value = lng ;

    if (!place.geometry) {
      window.alert("Autocomplete's returned place contains no geometry");
      return;
    }

  });
}

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyC6HeRNgfz2k11k0i6NRiVSpa_egGxdwkg&libraries=places&callback=init">
</script>