<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header row">
        <a class="navbar-brand" href="/">Brand</a>
        <div class="navbar-left col-xs-6 col-md-6">
          <%= form_tag user_search_path, method: :get do %>
            <%= text_field_tag :search, params[:search], placeholder: "住所を入力", class: "form-control",id:"top-search-form" %>
            <%= hidden_field_tag :lat %>
            <%= hidden_field_tag :lng %>
          <% end %>
        </div>

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">
            <% if (!user_signed_in?) %>
              <!-- ログインしていない時 -->
              <li><%= link_to "アカウント作成", new_user_registration_path %></li>
              <li><%= link_to "ログイン", new_user_session_path %></li>
              <li class="dropdown"></li>
            <% else %>
              <!-- ログインしている時 -->
              <li>メッセージ</li>
              <li>通知</li>
              <li><%= link_to "チームを作る", new_user_team_path %></li>
              <li>マイページ</li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>


