
	<div id="slideshow">
		<p>スポーツでnakamaに出会おう
			<br>
			<%= link_to "登録する", new_user_registration_path, class: "btn btn-danger btn-lg btn-block" %>
		</p>
		<%= image_tag("baseball.jpg", :width => "100%", :height => "400px", :class => "active") %>
		<%= image_tag("basketball.jpg", :width => "100%", :height => "400px") %>
		<%= image_tag("rio.jpg", :width => "100%", :height => "400px") %>
		<%= image_tag("team.jpg", :width => "100%", :height => "400px",) %>


	</div>
	


