<div class="container">
  <div class="col-md-3">
    <%= render 'partial/verticalnavbar'%>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="text-center">
          <span style="font-size:24px;">練習場所の編集</span>
        </div>
      </div>

      <div class="panel-body">

        <p>※場所と住所を入力し、Google Map上にマーカーが表示されることを確認してください。</p>
        <%= form_for @team, url: user_team_path(@team) do |f| %>
          <div class="col-xs-12 col-md-8">
            <%= f.label :place, "場所" %>
            <%= f.text_field :place, placeholder: "例: 東京体育館", class: "form-control", id: "pac-input" %>
            <br>
            <%= f.label :place, "住所" %>(必須)
            <%= f.text_field :address, placeholder: "例: 東京都渋谷区千駄ヶ谷１丁目１７−１", class: "form-control", id: "address", required: "true" %>
            <%= f.hidden_field :latitude %>
            <%= f.hidden_field :longitude %>
          </div>
          <div class="actions text-center col-md-2">
            <%= f.submit "更新", class: "btn btn-danger" %>
          </div>
          <div id="map" class="col-xs-12 col-md-10 col-md-offset-1 margin-top-20"></div>
          <div id="infowindow-content">
            <img src="" width="16" height="16" id="place-icon">
            <span id="place-name"  class="title"></span><br>
            <span id="place-address"></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



<script>
  function initMap() {
    
      var lat = <%= @team.latitude || 35.79929778512217 %> ;
      var lng = <%= @team.longitude || 139.72824096679688 %> ;
      var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: lat, lng: lng },
        zoom: 16
      });

      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(lat, lng),
        map: map,
        anchorPoint: new google.maps.Point(0, -29)
      });

      // @teamにlatとlngが設定されていない時はマーカーを表示しない
      <% unless @team.latitude && @team.longitude %>
        marker.setVisible(false);
      <% end %>

      var input = document.getElementById('pac-input');

      var autocomplete = new google.maps.places.Autocomplete(input);

      // オートコンプリートの候補を選択した時に返るデータ
      autocomplete.setFields(
          ['address_components', 'geometry', 'name']);

      var infowindow = new google.maps.InfoWindow();
      var infowindowContent = document.getElementById('infowindow-content');
      infowindow.setContent(infowindowContent);
      

      autocomplete.addListener('place_changed', function() {
        infowindow.close();
        var place = autocomplete.getPlace();
        lat = place.geometry.location.lat();
        lng = place.geometry.location.lng();
        document.getElementById('team_latitude').value = lat;
        document.getElementById('team_longitude').value = lng;
      
        if (!place.geometry) {
          // User entered the name of a Place that was not suggested and
          // pressed the Enter key, or the Place Details request failed.

          
          window.alert(place.name + "は設定できません。Google Map上にマーカーが表示されることを確認してください。");
          return;
        }

        // If the place has a geometry, then present it on a map.
        if (place.geometry.viewport) {
          map.fitBounds(place.geometry.viewport);
        } else {
          map.setCenter(place.geometry.location);
          map.setZoom(16);  
        }
        marker.setPosition(place.geometry.location);
        

        var address = '';
        if (place.address_components) {
          address = [
            (place.address_components[4].short_name || ''),
            (place.address_components[3].short_name || ''),
            (place.address_components[2].short_name || ''),
            (place.address_components[1].short_name+'−' || ''),
            (place.address_components[0].short_name || '')
          ].join('');
        }

        infowindowContent.children['place-name'].textContent = place.name;
        infowindowContent.children['place-address'].textContent = address;
        infowindow.open(map, marker);

        // 場所フォームには名前のみ、住所フォームには住所が入力された状態にする
        document.getElementById('pac-input').value = autocomplete.getPlace().name;
        document.getElementById('address').value = address;
      });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpp21xGez-pp1H2wiDC5A-HHEi1-RDHus&libraries=places&callback=initMap"
        async defer></script>



