
<div class="container">
  <div class="col-md-3">
      <%= render 'verticalnavbar'%>
  </div>

  <div class="col-md-9">         
    <%= form_for @team, url: user_teams_path do |f| %>
      <div class="form-group row">
        <%= f.label :sports_name, "スポーツの種類", class: "col-xs-3 col-form-label" %>
        <div class="col-xs-9">
          <%= f.select :sports_name, [["野球","野球"], ["サッカー","サッカー"], ["バレーボール","バレーボール"]], {prompt:"選択してください"}, required: 'true', autofocus: 'true'%>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :name, "チーム名", class: "col-xs-3 col-form-label" %>
        <div class="col-xs-9">
          <%= f.text_field :name , class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :practice_day, "活動日", class: "col-xs-3 col-form-label" %>
        <div class="col-xs-9">
          <%= f.text_field :practice_day , class: "form-control" %>
        </div>
      </div>


      <div class="form-group row">
        <%= f.label :practice_start_time, "活動開始時間", class: "col-xs-2 col-form-label" %>
        <div class="col-xs-4">
          <%= f.time_select :practice_start_time , minute_step: 15, class: "form-control" %>
        </div>
        <%= f.label :practice_end_time, "活動終了時間", class: "col-xs-2 col-form-label" %>
        <div class="col-xs-4">
          <%= f.time_select :practice_end_time, minute_step: 15, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :number_of_members, "メンバー数", class: "col-xs-3 col-form-label" %>
        <div class="col-xs-9">
          <%= f.text_field :number_of_members , class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :age_bracket, "メンバーの年齢層", class: "col-xs-3 col-form-label" %>
        <div class="col-xs-9">
          <%= f.text_field :age_bracket , class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :establishment_year, "チーム設立年", class: "col-xs-3 col-form-label" %>
        <div class="col-xs-9">
          <%= f.date_select :establishment_year , discard_day: true, discard_month: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :homepage, "チームのホームページ", class: "col-xs-3 col-form-label" %>
        <div class="col-xs-9">
          <%= f.text_field :homepage , class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :description, "アピールポイント", class: "col-xs-3 col-form-label" %>
        <div class="col-xs-9">
          <%= f.text_area :description , class: "form-control" %>
        </div>
      </div>
  
      <div class="actions">
          <%= f.submit "更新", class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>
</div>