
<div class="container">
  <h4><%= params[:search] %>付近のチーム</h4>
  <div class="row">
    <% @arrteams.each do |team| %>
      <div class="col-xs-6 col-md-4">
        <div class="panel panel-default center-block">
          <%= link_to user_team_path(team) do %>
            <%= attachment_image_tag team, :profile_image, :fill, 380, 200, format: 'jpeg', fallback: "/images/rio.jpg", class: "img-responsive" %>
            <div class="panel-body">
              <h6><%= team.sport.name %></h6>
              <h5><%= team.name %></h5>
              <h6><span class="glyphicon glyphicon-map-marker"></span><%= team.address %></h6>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="btn btn-primary pull-right">すべて見る</div>
    </div>
  </div>

  <div class="row margin-top-20">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
      <div class="map" id="map" style="height: 500px;"></div>
    </div>
  </div>
</div>


<script>
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat:<%= @latitude %>, lng: <%= @longitude %>},
      zoom: 13
    });
    var input = /** @type {!HTMLInputElement} */(
        document.getElementById('top-search-form'));

    var autocomplete = new google.maps.places.Autocomplete(input);
    autocomplete.bindTo('bounds', map);
    
    // マーカーとインフォウィンドウの配列を用意
    markers = [];
    infowindows = [];

    <% @arrteams.each do |team| %>
      //マーカーを設定
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(<%= team.latitude %>, <%= team.longitude %>),
        map: map,
        url: '/user/teams/' + <%= team.id %>
      });

      // マーカー配列にマーカーを保存
      markers.push(marker);

      marker.addListener('click', function() {
        var content = "<div>" + '<a href="/user/teams/' + <%= team.id %> +'">' + "<img src="+"<%= attachment_url(team, :profile_image, :fill, 150, 100) %>"+">" + "<h6><%= team.sport.name %></h6>" + "<h5><%= team.name %></h5>" + "</a>" + "</div>";

        // infowindowを作成
        var infowindow = new google.maps.InfoWindow({
          content: content,
          maxWidth: 150
        });
        
        infowindow.open(map, this);
        // インフォウィンドウ配列にインフォウィンドウを保存
        infowindows.push(infowindow);

        // this.addListener('mouseout', function() {
        //   infowindow.close();
        // });
      });

      $(".gm-style-iw").next("div").hide();
    

      // google.maps.event.addListener(marker, 'click', function() {
      //   window.location.href = this.url;
      // });
    <% end %>
  }
</script>

<style>
  .gm-style-iw + div {
    display: none;
  }
</style>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCpp21xGez-pp1H2wiDC5A-HHEi1-RDHus&libraries=places&callback=initMap">
</script>
