<div class="container">
	<div class="row">
		<div class="col-md-7">
			<h1 class="pic-box well">写真</h1>
		</div>
		<div class="col-md-5">
			<div class="row">
				<h2><%= @team.name%></h2>
			</div>
			<div class="row">
				<h4>スポーツ: <%= @team.sports_name %></h4>
				<h4>活動場所: <%= @team.address %></h4>
				<h4>管理者: <%= @organizer.name %>
			</div>
			<div class=" row d-flex align-items-end">
				<h3 class="pull-right">
					<%= link_to "メッセージを送る", user_conversations_path(sender_id: current_user.id, recipient_id: @team.organizer_id), method: 'post', class: "btn btn-success btn-lg" %>
					</h3>
			</div>
		</div>
	</div>
	<div class="row">
		<h4 class="pull-left">次回の練習</h4>
		<h4 class="pull-right">すべて見る</h4>
	</div>
	<div class="row">
		<% if @practice %>
			<h1 class="practice-box well"><%= link_to "練習に参加する", user_team_practice_participants_path(team_id: @team.id, practice_id: @practice.id), method: 'post' %></h1>
		<% else %>
			<h1 class="practice-box well">練習の予定はありません</h1>
		<% end %>
	</div>
	<div class="row">
		<div class="col-md-8">
			<h4>チームの概要</h4>
			<table class="table bg-white">
				<tbody>
					<tr>
						<th style="width: 35%">活動日</th>
						<td><%= @team.practice_day %></td>
					</tr>
					<tr>
						<th style="width: 35%">活動日</th>
						<td><%= @team.practice_day %></td>
					</tr>
					<tr>
						<th style="width: 35%">活動日</th>
						<td><%= @team.practice_day %></td>
					</tr>
					<tr>
						<th style="width: 35%">活動日</th>
						<td><%= @team.practice_day %></td>
					</tr>
					<tr>
						<th style="width: 35%">活動日</th>
						<td><%= @team.practice_day %></td>
					</tr>
					<tr>
						<th style="width: 35%">活動日</th>
						<td><%= @team.practice_day %></td>
					</tr>
					<tr>
						<th style="width: 35%">活動日</th>
						<td><%= @team.practice_day %></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-4">
			<h4>今後の練習</h4>
			<div class="teams">
				<p class="practice-box well"></p>
			</div>
			<h4>過去の練習</h4>
			<div class="teams">
				<p class="practice-box well"></p>
			</div>
		</div>
	</div>
	<div class="row">
		<h4>近くのチーム</h4>
	</div>
	<div class="teams">
		<p class="team-box well">チーム</p>
		<p class="team-box well">チーム</p>
		<p class="team-box well">チーム</p>
	</div>


		
	
</div>
